services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: dw_zizi
      POSTGRES_PASSWORD: dw_zizi_secret
      POSTGRES_DB: dw_zizi
    ports:
      - "5439:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
